html {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.stop-name a {
    color:black;
}
.stop-name a:visited {
    color: black;
}



table {
    border-spacing: 0;
    border-collapse: collapse;
}

tr {
    padding: 0;
}

td {
    /* border: 1px solid black; */
    padding: 0;
}

.container {
    width: 500px;
    margin: auto;
}

.segment {
    width: 100%;
    padding: 25px 0;
}

.service-title-cell {
    padding: 0;
}

.segment-title {
    display: flex;
    align-items: baseline;
}

.segment-title a:visited {
    color: inherit;
}

.trip-identifier {
    font-size: 1.5em;
    font-weight: bold;
    padding: 2px 5px;
    margin-right: 10px;
}

.trip-identifier a {
    color: inherit;
}

.trip-destination {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px
}

.stop-name {
    font-weight: bold;
    width: 66%;
}

.service-operator {
    padding: 2px 5px;
    margin-right: 10px;
}

.board-stop .stop-name, .alight-stop .stop-name {
    font-size: 1.5em;
}

.stop-location {
    font-style: italic;
    color: gray;
    text-align: right;
    padding: 0px 10px;
    font-size: 0.9em;
}

.arr, .dep {
    text-align: right;
    width: 7%;
    padding: 0 5px;
}

.board-stop .arr , .board-stop .dep, .alight-stop .arr , .alight-stop .dep {
    font-weight: bold;
}

.stop-marker {
    width: 50px;
}

.marker-icon {
    display: block;
}

.stop-marker img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}