{%- macro seg(segment) -%}
<table>
    <tr>
        <td>
            <div style="display: flex; align-items: center;">
                <div style="font-size: 1.5em; font-weight: bold; border: 1pt solid black; padding: 2px 5px; margin-right: 10px">
                    <a href="{{ segment.trip.get_url() }}">
                        {{ segment.trip.get_identifier() }}
                    </a>
                </div>
                <div style="font-size: 1.5em; font-weight: bold; margin-right: 10px">
                    {{ segment.trip.get_destinations() | ampersand }}
                </div>
                <div style="font-style: italic; color: gray">
                    {{ segment.get_segment_stops() | length }} stops, {{ segment.get_duration() | hours_minutes }}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <span style="border: 1pt solid black; padding: 2px 5px; margin-right: 10px">
                {{ segment.trip.get_operator() }}
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <div style="font-size: 1.5em">
                <a href="https://bustimes.org/stops/{{ segment.get_board_stop().atco }}">
                    {{ segment.get_board_stop().get_name() }}
                </a>
            </div>
            {% if segment.get_board_stop().get_location() is not none %}
                <div style="font-style: italic; color: gray">
                    {{ segment.get_board_stop().get_location() }}
                </div>
            {% endif %}
        </td>
        <td style="font-size: 1.5em; font-weight: bold">
            {{ segment.get_board_time() | colon_time }}
        </td>
    </tr>
    {% for stop in segment.get_intermediate_stops() %}
        <tr>
            <td>
                - <a href="https://bustimes.org/stops/{{ stop.atco }}">
                    {{ stop.get_name() -}}
                </a>
                {% if stop.get_location() is not none %}
                    <span style="font-style: italic; color: gray">{{ stop.get_location() }}</span>
                {% endif %}
            </td>
            <td>
                {% if stop.get_dep_time() != stop.get_arr_time() %}
                    <div>{{ stop.get_arr_time() | colon_time }}<b>a</b></div>
                    <div>{{ stop.get_dep_time() | colon_time }}<b>d</b></div>
                {% else %}
                    <div>{{ stop.get_arr_time() | colon_time }}</div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr><td>
        <div style="font-size: 1.5em">
            <a href="https://bustimes.org/stops/{{ segment.get_alight_stop().atco }}">
                {{ segment.get_alight_stop().get_name() }}
            </a>
        </div>
        {% if segment.get_board_stop().get_location() is not none %}
            <div style="font-style: italic; color: gray">
                {{ segment.get_alight_stop().get_location() }}
            </div>
        {% endif %}
    </td>
    <td style="font-size: 1.5em; font-weight: bold">
        {{ segment.get_alight_time() | colon_time }}
    </td></tr>
</table>
{% endmacro %}