{% import 'stop.html' as stop %}
{%- macro seg(segment) -%}
<table class="segment">
    <tr>
        <td class="stop-marker">
            <img class="marker" src="assets/markers/transition.svg" />
        </td>
        <td class="service-title-cell" colspan="4">
            <div style="display: flex; align-items: center;">
                <div class="trip-identifier">
                    <a href="{{ segment.trip.get_url() }}">
                        {{ segment.trip.get_identifier() }}
                    </a>
                </div>
                <div class="trip-destination">
                    {{ segment.trip.get_destinations() | ampersand }}
                </div>
                <div class="trip-duration">
                    {{ segment.get_segment_stops() | length - 1 }} stops, {{ segment.get_duration() | hours_minutes }}
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="stop-marker">
            <img class="marker" src="assets/markers/transition-short.svg" />
        </td>
        <td class="service-operator-cell" colspan="4">
            <span class="service-operator">
                {{ segment.trip.get_operator() }}
            </span>
        </td>
    </tr>
    {{- stop.stop(segment.get_board_stop(), "board-stop", "begin", False, True) -}}
    {% for call in segment.get_intermediate_stops() %}
        {{- stop.stop(call, "intermediate-stop", "call", True, True) -}}
    {% endfor %}
    {{- stop.stop(segment.get_alight_stop(), "alight-stop", "end", True, False) -}}
</table>
{% endmacro %}