{% macro stop(stop, classes, marker, arr, dep) -%}
<tr class="{{ classes }}">
    <td class="stop-marker">
        <img class="marker" src="assets/markers/{{ marker }}.svg" />
    </td>
    <td class="stop-name">
        <a href="{{ stop.get_url() }}">
                {{ stop.get_name() }}
        </a>
    </td>
    <td class="stop-location">
        {% if stop.get_location() is not none %}
            {{ stop.get_location() }}
        {% endif %}
    </td>
    <td class="arr">
        {% if arr %}{{ stop.get_arr_time() | colon_time }}{% endif %}
    </td>
    <td class="dep">
        {% if dep %}{{ stop.get_dep_time() | colon_time }}{% endif %}
    </td>
</tr>
{% endmacro %}